<div class="limiter">
  <div class="container-login100" style="background-image: url('../../assets/images/bg-01.jpg');">
    <div class="wrap-login100">
      <form class="login100-form validate-form" [formGroup]="loginForm">


        <span class="login100-form-title p-b-34 p-t-27">
          Log in
        </span>



        <div class="wrap-input100 validate-input" data-validate="Enter Email">
          <input class="input100" type="text" name="username" formControlName="email" placeholder="Email">
          <span class="focus-input100" data-placeholder="&#xf207;"></span>
        </div>
        <div class="alert  alert-danger"
          *ngIf="loginForm.get('email').hasError('required')  && loginForm.get('email').touched">
          Email is required
        </div>
        <div class="alert  alert-danger m-b-10"
          *ngIf="loginForm.get('email').hasError('email')  && loginForm.get('email').touched">
          Please enter valid email
        </div>

        <div class="wrap-input100 validate-input" data-validate="Enter password">
          <input class="input100" type="password" name="pass" formControlName="password" placeholder="Password">
          <span class="focus-input100" data-placeholder="&#xf191;"></span>
        </div>
        <div class="alert  alert-danger  m-b-10"
          *ngIf="loginForm.get('password').hasError('required')  && loginForm.get('password').touched">
          Password is required
        </div>
        <div class="alert  alert-danger  m-b-10"
          *ngIf="loginForm.get('password').hasError('minlength')  && loginForm.get('password').touched">
          Please enter at least 6 characters
        </div>



        <div class="container-login100-form-btn">
          <button class="login100-form-btn" (click)="login()">
            Login
          </button>
        </div>

        <div class="text-center p-t-20">
          <a class="txt1">
            Don't have an account ?
          </a>
          <a class="txt1 registerLogin-link" routerLink="/register">
            Register
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
