<!-- <div id="container" style="width:350px;height:250px">
 
</div>
<div id="container-2" style="width:350px;height:250px">

  <canvas id="pie" width=300 height=300></canvas>

</div> -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Dashboard</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">

        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-6 col-12">
          <div class="card">
            <div class="card-header border-0">
              <h3 class="card-title">
                <i class="fas fa-map-marker-alt mr-1"></i>
                Visitors
              </h3>
            </div>
            <div class="card-body">
              <canvas id="pie" width=100% height=30></canvas>
            </div>
            <!-- /.card-body-->

          </div>

        </div>
        <div class="col-lg-6 col-12">

          <div class="row">
            <div class="col-lg-4 col-12">
              <!-- small box -->
              <div class="small-box orders-numCount">
                <div class="inner">
                  <h3 class="newOrders"></h3>

                  <p>New Orders</p>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <div class="col-lg-4 col-12">
              <!-- small box -->

              <!-- small box -->
              <div class="small-box totalcustomers-count">
                <div class="inner">
                  <h3 class="totalCustomers"></h3>

                  <p>Total customers</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <a class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>

              </div>
            </div>
            <div class="col-lg-4 col-12">
              <!-- small box -->

              <!-- small box -->
              <div class="small-box Vistors-count">
                <div class="inner">
                  <h3 class="uniqueVisitors"></h3>

                  <p>Unique Visitors</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <a class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>

              </div>
            </div>
          
          </div>
         

        </div>
      </div>

      <!-- Main row -->
      <div class="row">

        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-12 connectedSortable">

          <!-- Map card -->
          <div class="card">
            <div class="card-header border-0">
              <h3 class="card-title">
                <i class="fas fa-map-marker-alt mr-1"></i>
                Orders
              </h3>

            </div>
            <div class="card-body">
              <canvas id="chart" width=300 height=70></canvas>
            </div>

          </div>

          <div class="card">
            <div class="card-header border-0">
              <h3 class="card-title">
                <i class="fas fa-map-marker-alt mr-1"></i>
                Orders
              </h3>

            </div>
            <div class="card-body">
              <canvas id="line" width=300 height=70></canvas>
            </div>

          </div>
          <!-- /.card -->

          <!-- solid sales graph -->

        </section>
        <!-- right col -->
      </div>
      <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
