<div class="limiter">
  <div class="container-login100" style="background-image: url('../../assets/images/bg-01.jpg');">
    <div class="wrap-login100">
      <form class="login100-form validate-form" [formGroup]="registerForm" >


        <span class="login100-form-title p-b-34 p-t-27">
          Register
        </span>
        
        <div class="wrap-input100 validate-input" data-validate="Enter fullname">
          <input class="input100" type="text" name="name" id="name" placeholder="Name" formControlName="name">
          <span class="focus-input100" data-placeholder="&#xf191;"></span>
        </div>
        <div class="alert  alert-danger  m-b-10"
          *ngIf="registerForm.get('name').hasError('required')  && registerForm.get('name').touched">
          Name is required
        </div>
        <div class="alert  alert-danger  m-b-10"
          *ngIf="registerForm.get('name').hasError('minlength')  && registerForm.get('name').touched">
          Name must have 2 characters
        </div>
        <div class="wrap-input100 validate-input" data-validate="Enter email">
          <input class="input100" type="text" id="email" formControlName="email" name="email" placeholder="Email">
          <span class="focus-input100" data-placeholder="&#xf207;"></span>
        </div>

        <div class="alert  alert-danger"
          *ngIf="registerForm.get('email').hasError('required')  && registerForm.get('email').touched">
          Email is required
        </div>
        <div class="alert  alert-danger m-b-10"
          *ngIf="registerForm.get('email').hasError('email')  && registerForm.get('email').touched">
          Please enter valid email
        </div>

        <div class="wrap-input100 validate-input" data-validate="Enter password">
          <input class="input100" type="password" name="pass" id="pass" formControlName="password"
            placeholder="Password">
          <span class="focus-input100" data-placeholder="&#xf191;"></span>
        </div>
        
        <div class="alert  alert-danger  m-b-10"
          *ngIf="registerForm.get('password').hasError('required')  && registerForm.get('password').touched">
          Password is required
        </div>
        <div class="alert  alert-danger  m-b-10"
          *ngIf="registerForm.get('email').hasError('minlength')  && registerForm.get('password').touched">
          Please enter at least 6 characters
        </div>



        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="button" (click)="registerUser()">
            Register
          </button>
        </div>

        <div class="text-center p-t-20">
          <a class="txt1">
            Do you have an account ?
          </a>
          <a class="txt1 registerLogin-link" routerLink="/">
            Login
          </a>
        </div>
      </form>


    </div>
  </div>
</div>

